USE [master]
GO
/****** Object:  Database [GestionPartidos]    Script Date: 9/30/2024 3:37:03 PM ******/
CREATE DATABASE [GestionPartidos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionPartidos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GestionPartidos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionPartidos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GestionPartidos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionPartidos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionPartidos]
GO
/****** Object:  Table [dbo].[Deporte]    Script Date: 9/30/2024 3:37:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deporte](
	[ID_DEPORTE] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DEPORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partido]    Script Date: 9/30/2024 3:37:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partido](
	[ID_PARTIDO] [int] IDENTITY(1,1) NOT NULL,
	[ID_DEPORTE] [int] NULL,
	[EQUIPO_LOCAL] [varchar](100) NOT NULL,
	[EQUIPO_VISITANTE] [varchar](100) NOT NULL,
	[FECHA_REGISTRO] [datetime] NOT NULL,
	[FECHA_PARTIDO] [datetime] NOT NULL,
	[MARCADOR_LOCAL] [int] NOT NULL,
	[MARCADOR_VISITANTE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PARTIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Deporte] ON 

INSERT [dbo].[Deporte] ([ID_DEPORTE], [DESCRIPCION]) VALUES (1, N'Futbol')
INSERT [dbo].[Deporte] ([ID_DEPORTE], [DESCRIPCION]) VALUES (2, N'Básquet')
INSERT [dbo].[Deporte] ([ID_DEPORTE], [DESCRIPCION]) VALUES (3, N'Tenis')
SET IDENTITY_INSERT [dbo].[Deporte] OFF
GO
SET IDENTITY_INSERT [dbo].[Partido] ON 

INSERT [dbo].[Partido] ([ID_PARTIDO], [ID_DEPORTE], [EQUIPO_LOCAL], [EQUIPO_VISITANTE], [FECHA_REGISTRO], [FECHA_PARTIDO], [MARCADOR_LOCAL], [MARCADOR_VISITANTE]) VALUES (2, 1, N'boca juniors', N'river plate', CAST(N'2024-09-30T15:16:01.483' AS DateTime), CAST(N'2024-11-06T15:15:43.000' AS DateTime), 2, 1)
INSERT [dbo].[Partido] ([ID_PARTIDO], [ID_DEPORTE], [EQUIPO_LOCAL], [EQUIPO_VISITANTE], [FECHA_REGISTRO], [FECHA_PARTIDO], [MARCADOR_LOCAL], [MARCADOR_VISITANTE]) VALUES (3, 1, N'boca juniors', N'river plate', CAST(N'2024-09-30T15:26:10.577' AS DateTime), CAST(N'2024-11-07T15:25:20.000' AS DateTime), 1, 1)
INSERT [dbo].[Partido] ([ID_PARTIDO], [ID_DEPORTE], [EQUIPO_LOCAL], [EQUIPO_VISITANTE], [FECHA_REGISTRO], [FECHA_PARTIDO], [MARCADOR_LOCAL], [MARCADOR_VISITANTE]) VALUES (4, 1, N'argentinos', N'brasil', CAST(N'2024-09-30T15:32:42.420' AS DateTime), CAST(N'2024-10-10T15:32:18.000' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[Partido] OFF
GO
ALTER TABLE [dbo].[Partido] ADD  DEFAULT (getdate()) FOR [FECHA_REGISTRO]
GO
ALTER TABLE [dbo].[Partido] ADD  DEFAULT ((0)) FOR [MARCADOR_LOCAL]
GO
ALTER TABLE [dbo].[Partido] ADD  DEFAULT ((0)) FOR [MARCADOR_VISITANTE]
GO
ALTER TABLE [dbo].[Partido]  WITH CHECK ADD FOREIGN KEY([ID_DEPORTE])
REFERENCES [dbo].[Deporte] ([ID_DEPORTE])
GO
USE [master]
GO
