<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>      
        <add name="conexionDB" connectionString="Data Source=DESKTOP-ONPI8V7\SQLEXPRESS;Initial Catalog=GestionPartidos;Integrated Security=True;" />
    </connectionStrings>
</configuration>